.portfolio-container {
    display: flex; /* Enable Flexbox */
    justify-content: flex-start; /* Aligns children to the start */
    align-items: stretch; /* Ensures that children stretch to fill the container height */
    width: 100%;
    min-height: 100vh;
    background-color: #0c111e;
    border-radius: 20px;
    padding: 0; /* No padding to ensure elements fit snugly */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    margin-bottom: 30px;
}

.portfolio-list {
    width: 30%; /* Takes up 30% of the container width */
    min-height: 100vh;
    background-color: #111;
    border-radius: 20px 0 0 20px; /* Rounded corners on the left side only */
    margin: 0; /* Ensures no margin is pushing the elements */
    overflow-y: auto; /* Adds scrolling to this container */
}

.portfolio-stockview {
    width: 70%; /* Takes up the remaining 70% of the container width */
    min-height: 90vh;
    background-color: #111;
    border-radius: 0 20px 20px 0; /* Rounded corners on the right side only */
    overflow-y: auto; /* Adds scrolling to this container */
    padding: 20px;
}

.header {
    color: #fff;
}

.stock-info-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates three columns */
    gap: 10px; /* Spacing between grid items */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    width: auto; /* Adjusts width to fit content */
    margin-left: 0;
}

.stock-info-item {
    padding: 10px; /* Padding for each grid item */
    background-color: transparent; /* No background color */
    border: none; /* No borders for each grid item */
    text-align: left; /* Aligns text to the left */
    color: #fff;
    font-size: 18px;
    margin-left: 0;
}


