.stocktile-container {
    color: #fff;
    border-bottom: 1px solid #666;
    padding: 20px;
    transition: all 0.3s ease;
    background-color: #141823;
}

.stocktile-container:last-child {
    border-bottom: none;
}

.stocktile-container:hover {
    color: #000;
    margin-left: 30px;
    border-color: #fff;
    background-color: rgb(239, 239, 239);
    border-radius: 20px 0 0 20px ;
}
.stocktile-container:hover .ticker {
    color: #000;
}
