.search-container {
    width: 97%;
    min-height: 100vh;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 20px;
    background-color: #0c111e;
    margin-bottom: 30px;
}

.select-search-bar {
    margin-top: 20px;
}

h2 {
    color: #fff;
}

.balance {
    color: #fff;
    font-size: 28px;
}


.button-container {
    display: flex;
    justify-content: flex-start; /* Ensure buttons are aligned to the left */
    align-items: flex-start; /* Align items to the top-left */
    margin-top: 20px;
    gap: 10px; /* Spacing between buttons */
    width: 100%; /* Ensure it takes full width */
    text-align: left; /* Force text and buttons to align left */
}


.button-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    background-color: #1c2230; /* Darker background for the buttons */
    color: #ffffff; /* White text for contrast */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.stock-info-item {
    padding: 8px;
}

.search-bar-form {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
}

.search-bar-input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
    transition: all 0.3s ease;
}

.search-bar-input:focus {
    border-color: #8884d8;
    box-shadow: 0 0 8px rgba(136, 132, 216, 0.6);
}

.search-bar-button {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    background-color: #8884d8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar-button:hover {
    background-color: #6664b0;
}

.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.selected-content {
    margin-top: 30px;
}

.stock-info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(3, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.error-popup {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    z-index: 1000;
}

.key-insights-grid {
    display: flex;  /* Use flexbox to arrange items in a single row */
    flex-wrap: wrap;  /* Allow wrapping if the container is too narrow */
    justify-content: space-between;  /* Distribute items evenly */
    align-items: center;  /* Align items vertically in the center */
    gap: 20px;  /* Add space between items */
    padding: 10px 0;  /* Add some padding around the insights grid */
}

.key-insight-item {
    padding: 10px;
    padding-left: 0px;
    color: #fff;
    flex: 1;  /* Make items grow to fit evenly within the row */
    text-align: left;  /* Align the text to the left */
    margin-left: 0px;
    font-size: 20px;
}

.sidebar-container{
    min-height: 140vh;
}