.search-container {
    width: 97%;
    height: 90vh;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 20px;
    background-color: #0c111e;;
}

.select-search-bar {
    margin-top: 20px;
}

h2 {
    color: #fff;
}
